.coco_logo{
    z-index: 999;
    position: relative;
    text-align: center;
}

.coco_logo img{
    width: 30%;
    height: auto;
    position: absolute;
    display: block;
    left: 35%;
    top: 50px;
}

.text{
    text-align: center;
    position: absolute;
    width: 20%;
    left: 40%;
    top: 25%;
    z-index: 998;
    color: white;
}

.text h3{
    font-size: 2.0em;
}

.text p{
    font-size: 1.2em;
}

.building_1 img{
    width: 34%;
    height: auto;
    position: absolute;
    display: block;
    bottom: 0;
    z-index: 8;
    animation-name : building_1_move;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

.building_2 img{
    width: 28%;
    height: auto;
    position: absolute;
    display: block;
    bottom: 0px;
    animation-name: building_2_move;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

.building_3 img{
    width: 45%;
    height: auto;
    position: absolute;
    display: block;
    bottom: 0;
    animation-name: building_3_move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.building_4 img{
    width: 34%;
    height: auto;
    position: absolute;
    display: block;
    bottom: 0;
    animation-name: building_4_move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.background{
    height: 100%;
    width: auto;
    margin: auto;
    background-image: url(../img/coco_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: background_move;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

.coco{
    position: relative;
    text-align: center;
    z-index: 9;
}

.coco img{
    width: 20%;
    position: absolute;
    display: block;
    left: 40%;
    bottom: 0;
    animation-name: coco_move;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes coco_move{
    from{
        left: 40%;
    }

    33%{
        left: 50%;
    }

    66%{
        left: 30%;
    }

    to{
        left: 40%;
    }
}

@keyframes building_1_move{
    from{
        right: 10%;
    }

    33%{
        right: 12%;
    }

    66%{
        right: 8%;
    }

    to{
        right: 10%;
    }
}

@keyframes building_2_move{
    from{
        right: 18%;
    }

    33%{
        right: 19.5%;
    }

    66%{
        right: 16.5%;
    }

    to{
        right: 18%;
    }
}

@keyframes building_3_move{
    from{
        left: 2%;
    }

    33%{
        left: 0%;
    }

    66%{
        left: 4%;
    }

    to{
        left: 2%;
    }
}

@keyframes building_4_move{
    from{
        left: -15%;
    }

    33%{
        left: -18%;
    }

    66%{
        left: -12%;
    }

    to{
        left: -15%;
    }
}

@keyframes background_move{
    0%{
        background-position: 50%;
    }
    33%{
        background-position: 52%;
    }
    66%{
        background-position: 48%;
    }
    100%{
        background-position: 50%;
    }
}